QDRANT_URL=http://localhost:6333
COLLECTION=campus_dinov2_small_v1
MODEL_ID=facebook/dinov2-small
MODEL_REVISION=ed25f3a31f01632728cabb09d1542f84ab7b0056
ORIGIN_LATITUDE=6.201160
ORIGIN_LONGITUDE=-75.578501
TOP_K=10
HEADING_WEIGHT=0.15
GPS_SIGMA=8
VPR_THRESHOLDS=[[0.90,2],[0.80,4],[0.70,7]]
MAX_VPR_DISTANCE=50
IDW_NEIGHBORS=8
IDW_RADIUS=100
IDW_EPSILON=1
ACCELERATION_SIGMA=2
SESSION_TTL=1800
MAX_SESSIONS=1000
